# Documents
*.pdf      diff=astextplain
*.PDF      diff=astextplain
*.md       text diff=markdown
*.mdx      text diff=markdown
*.csv      text
*.txt      text

# Scripts
*.bash     text eol=lf
*.py       text eol=lf
*.sh       text eol=lf
*.zsh      text eol=lf

# Archives
*.7z       binary
*.gz       binary
*.tar      binary
*.tgz      binary
*.zip      binary

# Graphics
*.png      binary
*.jpg      binary
*.jpeg     binary
*.gif      binary
*.ico      binary

# Blender
*.blend    binary
